/* Index
-------------------------------------------------------------------------------------------------- */

.slider {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    overflow: hidden;
    position: relative;
  }

.slider::before {
    content: "";
    position: absolute;
    top: 0px;
    right: -400%;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.slide-textContent {
    position: absolute;
    margin: 0px auto;
    top: 100px;
    width: max-content;
    max-width: 100%;
}

.slide-textLatest,
.slide-title,
.readNow-button {
    color: #ffffff;
    margin: 5px 30px;
}

.readNow-button {
    background-color: #c7cd16;
    padding: 2px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
}

.readNow-button:hover {
    cursor: pointer;
    background-color: #e8ef17;
}

.readNow-button:active {
    background-color: rgb(77, 97, 40);
}

.slider-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    bottom: 47%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slider-button-prev,
.slider-button-next {
    background-color: rgba(0, 0, 0, 0.0);
    border-style: none;
}
  
.slider-button-prev {
    margin-right: auto;
}
  
.slider-button-next {
    margin-left: auto;
}

.slider-buttons img {
    height: 55px;
    width: 30px;
    opacity: 0.5;
    padding: 15px;
}

.slider-buttons img:hover  {
    opacity: 1;
    cursor: pointer;
}

.slider-buttons img:active  {
    transform: scale(0.90);
}

.slider-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.45);
    width: fit-content;
    padding: 8px 3px;
    border-radius: 25px;
}
  
.slider-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 7px;
}
  
.slider-dot.active {
    background-color: #000000;
    box-shadow: inset 0 0 0 1.5px #ffffff;
}

.introduction {
    text-align: center;
    align-items: center;
}

.h1-alt2 {
    color: var(--color-darkGrey);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 500;
}

.introduction-link p,
.introduction-link a {
    display: inline;
    margin: 0;
    padding: 0;
}

.introduction-link a {
    text-decoration: none;
    color: var(--color-ctaGreen);
    font-weight: 600;
}

.introduction-link a:hover {
    text-decoration: underline;
  }

.introImg-container img {
    display: none;
}