@import "imports/variables.css";

/* Media queries
--------------------------------------------------------------------------------------------------- */

/* @media (min-width: 800px) {
    
    main {
        max-width: 1000px;
        margin: auto;
    }
    
    .blog-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        max-width: 1000px;
        grid-template-rows: repeat(3, auto);
    }

    .blogDetails-title,
    .block1 {
        grid-column: 1;
        grid-row: 1;
    }

    .block2 {
        grid-column: 1 / span 2;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
    }

    .inner-block {
        grid-column: 1;
    }

    .wp-block-image {
        grid-column: 2;
    }

    .block3 {
        grid-column: 1;
        grid-row: 3;
        display: block;
    }
} */

@media (min-width: 800px) {
    
    main {
        width: 100%;
        margin: 0;
    }
    
    .blog-content {
        display: block;
    }

    .blogDetails-title {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 30px;
    }

    .block1,
    .block2,
    .block3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: 1; */
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        grid-column-gap: 100px;
        padding: 0px 30px;
    }

    .block1 p,
    .block3 h2,
    .block3 p,
    .block3 ul,
    .inner-block {
        grid-column: 1;
    }

    .block3 h2 {
       margin-bottom: 0px;
    }

    .wp-block-image,
    .wp-block-cover {
        grid-column: 2;
        margin: 0;
    }

    .divided-container {
        width: 100%;
        background-color: var(--color-divider);
        padding: 40px 0px;
        margin: 40px 0px 10px 0px;
    }

    .inner-block h2 {
        margin: 0px;
    }
}

/* @media (min-width: 800px) {
    
    main {
        max-width: 100%;
        margin: 0;
    }
    
    .blog-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        max-width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        grid-template-rows: repeat(3, auto);
    }

    .blog-content > *:nth-child(2) {
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: red;
    }

    .blogDetails-title,
    .block1 {
        grid-column: 1;
        grid-row: 1;
    }

    .block2 {
        grid-column: 1 / span 2;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .inner-block {
        grid-column: 1;
    }

    .wp-block-image {
        grid-column: 2;
    }

    .block3 {
        grid-column: 1;
        grid-row: 3;
        display: block;
    }
} */


/* @media (min-width: 800px) {
    
    main {
        max-width: 1000px;
        margin: auto;
    }
    
    .blog-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        max-width: 1000px;
        grid-template-rows: repeat(3, auto);
    }

    .blogDetails-title,
    .block1 {
        grid-column: 1;
        grid-row: 1;
    }

    .block2 {
        position: relative; 
        grid-column: 1 / span 2;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
    }
    
    .block2 {
        grid-column: 1 / span 2;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        position: relative;  
    }
    
    .block2::before {
        content: "";  
        position: absolute;  
        top: 0;  
        left: 50%; 
        transform: translateX(-50%);  
        width: 100vw;  
        height: 100%;  
        background-color: var(--color-divider); 
        z-index: -1;  
    }

    .inner-block {
        grid-column: 1;
    }

    .wp-block-image {
        grid-column: 2;
    }

    .block3 {
        grid-column: 1;
        grid-row: 3;
        display: block;
    }
} */