@import "imports/variables.css";

/* Global
-------------------------------------------------------------------------------------------------- */
body {
    margin: 0px;
}

header {
    height: fit-content;
}

main {
    margin: 0px 30px;
}

h1, 
h2 {
    font-family: var(--text-heading), Verdana, Geneva, Tahoma;
    letter-spacing: 0.10em; 
}

h1 {
    font-size: 1.625em;
    font-weight: 600;
}

h2 {
    font-size: 1.25em;
    font-weight: 500;
}

h3,
h4,
p,
a {
    font-family: var(--text-paragraph), Verdana, Geneva, Tahoma;
}

h3 {
    font-size: 0.9375em;
    font-weight: 700;
    letter-spacing: 0.05em;
}

h4 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.03em;
}

p {
    font-size: 0.9375em;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: var(--color-darkGrey);
}

.noBanner-header {
    min-height: 60px;
}

.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    z-index: 100;
}

/* .hamburger-menu img:hover {
    width: 22px;
    height: 19px;
} */

.menu-container,
.menu-container2 {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 150px;
    border: none;
    z-index: 3;
    animation-name: sidemenu;
    animation-duration: 0.5s;
}

.menu-container {
    background-color: rgba(0, 0, 0, 0.8);
}

.menu-container2 {
    background-color: rgba(233, 231, 231, 0.8);
}

@keyframes sidemenu {
    0% {
      left: -205px;
    }
    
    100% {
      left: 0px;
    }
}

.menu-links,
.menu-links2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.9375em;
    font-weight: 700;
    letter-spacing: 0.05em;
    display: block;
    text-decoration: none;
}

.menu-links {
    color: #ffffff;
}

.menu-links2 {
    color: var(--color-footerGrey);
}

.menu-linksMargin {
    margin-top: 140px;
}

.nav-heading,
.nav-heading2 {
    position: absolute;
    top: 20px;
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%);
}

.nav-heading {
    color: #ffffff;
}

.nav-heading2 {
    color: var(--color-footerGrey);
}

.logo-container {
    text-align: center;
}

.logo {
    margin: 100px auto;
    text-align: center;
}

footer {
    display: grid;
    grid-template-rows: 88% 12%;
    margin: 100px 0px 0px 0px;
    height: 177px;
    background-color: var(--color-lightGray);
    position: relative;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 30px;
}

.footer-links {
    text-align: left;
}

.footer-links a,
.footer-links p,
.copyright {
    display: block;
    color: var(--color-footerGrey);
    font-family: var(--text-paragraph);
    font-size: 0.8125em;
    letter-spacing: 0.03em;
}

.footer-links a {
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-links p {
    margin: 20px 0px 5px 0px;
}

.soMe-links {
    display: flex;
}

.soMe-links a {
    margin: 0px 10px 0px 0px;
}

hr {
    margin: 0;
    border-top: 1px solid var(--color-footerStyle);   
    grid-column: 1/-1;
}

.copyright {
    grid-row: 2;
    margin: 0;
    text-align: center;
    align-self: center;    
}




/* Index
-------------------------------------------------------------------------------------------------- */

.slider {
    width: 100%;
    height: 100vh;
    margin: 0px;;
    display: flex;
    overflow: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0px;
    right: -400%;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}
  
.slide-image {
    max-width: 100%;
    flex-shrink: 0;
    height: 100vh;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-textContent {
    position: absolute;
    margin: 0px auto;
    top: 130px;
    width: max-content;
    max-width: 100%;
}

.slide-textLatest,
.slide-title {
    color: #ffffff;
    margin: 5px 30px;
}

.slider-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    bottom: 47%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slider-button-prev,
.slider-button-next {
    background-color: rgba(0, 0, 0, 0.0);
    border-style: none;
}
  
.slider-button-prev {
    margin-right: auto;
}
  
.slider-button-next {
    margin-left: auto;
}

.slider-buttons img {
    height: 55px;
    width: 30px;
    opacity: 0.5;
    padding: 15px;
}

.slider-buttons img:hover  {
    opacity: 1;
}

.slider-buttons img:active  {
    transform: scale(0.90);
}

.slider-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.45);
    width: fit-content;
    padding: 8px 3px;
    border-radius: 25px;
}
  
.slider-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 7px;
    cursor: pointer;
}
  
.slider-dot.active {
    background-color: #000000;
    box-shadow: inset 0 0 0 1.5px #ffffff;
}

.introduction {
    text-align: center;
}

.introduction h2 span {
    color: var(--color-darkGrey);
    text-transform: uppercase;
}

.introduction-link p,
.introduction-link a {
  display: inline;
  margin: 0;
  padding: 0;
}

.introduction-link a {
  text-decoration: none;
  color: var(--color-ctaGreen);
  font-weight: 600;
}

.introduction-img {
    display: none;
}


/* Blogs
-------------------------------------------------------------------------------------------------- */

.blogList-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 20px;
}

.blog-container {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5%;
}

.blogContainer-textContent {
    position: absolute;
    margin: 0px auto;
    top: 50px;
    width: max-content;
    max-width: 100%;
    
    
}

.blogContainer-readMore,
.blogContainer-title {
    color: #ffffff;
    margin: 5px 30px;
}