@import "imports/variables.css";

/* Global
-------------------------------------------------------------------------------------------------- */
body {
    margin: 0px;
}

header {
    height: fit-content;
}

main {
    margin: 0px 30px;
}

h1, 
h2 {
    font-family: var(--text-heading), Verdana, Geneva, Tahoma;
    letter-spacing: 0.10em; 
}

h1 {
    font-size: 1.625em;
    font-weight: 600;
}

h2 {
    font-size: 1.25em;
    font-weight: 500;
}

h3,
h4,
p,
a {
    font-family: var(--text-paragraph), Verdana, Geneva, Tahoma;
}

h3 {
    font-size: 0.9375em;
    font-weight: 700;
    letter-spacing: 0.05em;
}

h4 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.03em;
}

p {
    font-size: 0.9375em;
    font-weight: 300;
    letter-spacing: 0.03em;
    color: var(--color-darkGrey);
}

.noBanner-header {
    min-height: 60px;
}

.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    z-index: 100;
    cursor: pointer;
}

.menu-container,
.menu-container2 {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 150px;
    border: none;
    z-index: 3;
    animation-name: sidemenu;
    animation-duration: 0.5s;
}

.menu-container {
    background-color: rgba(0, 0, 0, 0.85);
}

.menu-container2 {
    background-color: rgba(233, 231, 231, 0.9);
}

@keyframes sidemenu {
    0% {
      left: -205px;
    }
    
    100% {
      left: 0px;
    }
}

.menu-links,
.menu-links2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.9375em;
    font-weight: 700;
    letter-spacing: 0.05em;
    display: block;
    text-decoration: none;
}

.menu-links {
    color: #ffffff;
}

.menu-links2 {
    color: var(--color-footerGrey);
}

.menu-linksMargin {
    margin-top: 140px;
}

.nav-heading,
.nav-heading2 {
    position: absolute;
    top: 20px;
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%);
}

.nav-heading {
    color: #ffffff;
}

.nav-heading2 {
    color: var(--color-footerGrey);
}

.logo-container {
    text-align: center;
}

.logo {
    margin: 100px auto;
}

.logo-alt {
    margin-top: 50px;
}

footer {
    display: grid;
    grid-template-rows: 88% 12%;
    margin: 100px 0px 0px 0px;
    height: 177px;
    background-color: var(--color-lightGray);
    position: relative;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 30px;
}

.footer-links {
    text-align: left;
}

.footer-links a,
.footer-links p,
.copyright {
    display: block;
    color: var(--color-footerGrey);
    font-family: var(--text-paragraph);
    font-size: 0.8125em;
    letter-spacing: 0.03em;
}

.footer-links a {
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-links p {
    margin: 20px 0px 5px 0px;
}

.soMe-links {
    display: flex;
}

.soMe-links a {
    margin: 0px 10px 0px 0px;
}

hr {
    margin: 0;
    border-top: 1px solid var(--color-footerStyle);   
    grid-column: 1/-1;
}

.copyright {
    grid-row: 2;
    margin: 0;
    text-align: center;
    align-self: center;    
}

.uppercase {
    text-transform: uppercase;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid darkslategray;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 40%;
}

.loader-Banner {
    top: 40%;
}

.loader-noBanner {
    top: 10%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/* Index
-------------------------------------------------------------------------------------------------- */

.slider {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    overflow: hidden;
    position: relative;
  }

.slider::before {
    content: "";
    position: absolute;
    top: 0px;
    right: -400%;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.slide-image {
    max-width: 100%;
    flex-shrink: 0;
    height: 100vh;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-textContent {
    position: absolute;
    margin: 0px auto;
    top: 100px;
    width: max-content;
    max-width: 100%;
}

.slide-textLatest,
.slide-title,
.readNow-button {
    color: #ffffff;
    margin: 5px 30px;
}

.readNow-button {
    background-color: var(--color-ctaGreen);
    padding: 2px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.slider-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    bottom: 47%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.slider-button-prev,
.slider-button-next {
    background-color: rgba(0, 0, 0, 0.0);
    border-style: none;
}
  
.slider-button-prev {
    margin-right: auto;
}
  
.slider-button-next {
    margin-left: auto;
}

.slider-buttons img {
    height: 55px;
    width: 30px;
    opacity: 0.5;
    padding: 15px;
}

.slider-buttons img:hover  {
    opacity: 1;
    cursor: pointer;
}

.slider-buttons img:active  {
    transform: scale(0.90);
}

.slider-menu {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 2;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.45);
    width: fit-content;
    padding: 8px 3px;
    border-radius: 25px;
}
  
.slider-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 7px;
}
  
.slider-dot.active {
    background-color: #000000;
    box-shadow: inset 0 0 0 1.5px #ffffff;
}

.introduction {
    text-align: center;
}

.introduction h2 span {
    color: var(--color-darkGrey);
    text-transform: uppercase;
}

.introduction-link p,
.introduction-link a {
  display: inline;
  margin: 0;
  padding: 0;
}

.introduction-link a {
  text-decoration: none;
  color: var(--color-ctaGreen);
  font-weight: 600;
}

.introduction-img {
    display: none;
}


/* Blogs
-------------------------------------------------------------------------------------------------- */

.blogList-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 30px;
}

.blog-container {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5%;
}

.blogContainer-textContent {
    position: absolute;
    margin: 0px auto;
    top: 50px;
    width: max-content;
    max-width: 100%;
    
    
}

.blogContainer-readMore,
.blogContainer-title {
    color: #ffffff;
    margin: 5px 30px;
}


/* BlogDetails
-------------------------------------------------------------------------------------------------- */

.featured-container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    display: flex;
    position: relative;
}

.featured-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.blogDetails-title {
    color: var(--color-darkGrey);
    margin: 100px 0px 10px 0px;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    
}

.blog-content h2 {
    margin-top: 50px;
    color: var(--color-darkGrey);
}

.wp-block-group {
    background-color: var(--color-divider);
    margin: 0px -30px;
    padding: 0px 30px;
}

.wp-block-gallery {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
}

.divided-top {
    padding-top: 40px;
}

.divided-bottom {
    padding-bottom: 40px;
}

/* .wp-block-image {
    margin: 50px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-content img {
    max-width: 100%;
    height: auto;
    max-height: 100vh;
} */

.wp-block-cover,
.wp-block-image {
    width: 100%;
    max-height: 450px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.blog-content video,
.blog-content img {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: -10%;
}

/* .wp-block-video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-content video {
    max-width: 100%;
    max-height: 70vh;
    margin: 50px 0px 0px 0px;
} */

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    object-fit: contain;
    z-index: 100;
}
  
.fullscreen-active {
    overflow: hidden;
}
  
.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}


/* About
-------------------------------------------------------------------------------------------------- */

.about-container img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    max-height: 100vh;
}

.about-container h2 {
    margin-top: 50px;
}

.background-container {
    background-color: var(--color-divider);
    margin: 0px -30px;
    padding: 0px 30px;
}

.background-container h2 {
    padding-top: 40px;
}

.background-container img {
    padding-bottom: 40px;
    margin-top: 50px;
}

/* Contact
--------------------------------------------------------------------------------------------------- */

.contact-welcome {
    margin: 30px;
}

.contact  {
    max-width: 405px;
    width: 90%;
    margin: 20px auto 30px auto;
    display: grid;
}

.contact__form {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px 120px ;
    grid-gap: 40px;
}

.contact__form input,
.contact__form textarea {
    border-radius: 6px;
    border-color: var(--color-lightGray);
    border-style: solid;
    border-width: 0.7px;
    font-family: var(--text-paragraph), Verdana, Geneva, Tahoma;
}

.contact__form input {
    height: 30px;
    width: 100%;
}

.contact__form textarea {
    height: 120px;
    width: 100%;
}

.submit-button {
    margin: 25px; 
    width: 200px;
    height: 40px;
    justify-self: center;
    background-color: var(--color-ctaGreen);
    border-style: none;
    border-radius: 7px;
    color: #fff;
    font-family: var(--text-heading), Verdana, Geneva, Tahoma; 
    font-weight: 500;
    font-size: 1em;
}

.form-error {
    color: #bd0000;
    display: none;
}

.success {
    background-color: #c6f7c6;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #008000;
    max-width: 500px;
}