:root {
    --text-heading: 'Montserrat', sans-serif;
    --text-paragraph: 'Karla', sans-serif;
    --color-darkGrey: #717171;
    --color-lightGray: #D9D9D9;
    --color-divider: #F8F8F8;
    --color-ctaGreen: #5b722f;
    --color-footerStyle: #E9E7E7;
    --color-footerGrey: #414141;
}